a {
  color: blue;
}
h1 {
  color: red;
  text-align: center;
}

img {
  width: 500px;
  height: auto;
  border: 2px solid red;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hamburger h1 {
  background-color: yellow;
}
